{% extends 'note/notes.html.twig' %}

{% block content %}
    
    <div class="card-columns">


        <div class="card">
            <h5 class="card-header">Nota 2</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>


        <div class="card">
            <h5 class="card-header">Nota 2</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header">Nota 2</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div><div class="card">
            <h5 class="card-header">Nota 2</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div><div class="card">
            <h5 class="card-header">Nota 2</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>


        <div class="card">
            <h5 class="card-header">Nota 2</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio sdfsdfsdfsd adfdsf sdfdsf sdfsdf sdfsdf sdfsdf sdfsdf sdfsdf sdfsdf</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    
      {{parent()}} 
      <script src="{{asset('build/home.js')}}"></script>
      <script src="{{asset('build/notes.js')}}"></script>
    
{% endblock %}