{% extends 'new/course.html.twig' %}


{% block content %}

    <ul>
        {% for curso in cursos %}
            <li> 
                {{ curso }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
